@model rf222cz_1_2_aventyrliga_kontakter.Models.Contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@Html.Partial("FormForContact")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


