@{
    ViewBag.Title = "ContactNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Contact not found</h1>
<h2 class="text-danger">Sorry, the contact you are looking for cannot be found!</h2>
<br />
@Html.ActionLink("Back to List", "Index")